
DEBUG={{ django_debug }}

SECRET_KEY='{{ django_secret_key }}'

DATABASE_URL='{{ django_db_url }}'

{% for key, value in django_settings.items() %}
{% if value is string %}
{{ key }}='{{ value }}'
{% else %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
